<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTrack</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="top-nav-flex">
            @{
                var testCondition = 2;
                var testString = "";
            }
            <div>
                <img src="img/buglogosmall.png" />
            </div>
            <div>
                HOME
            </div>
            <div>
                BUGS
            </div>
            <div>@{
                    if (testCondition == 1) {
                        testString = "One";
                    }
                    else
                    {
                        testString = "None";
                    };
                }
                @testString
            </div>
            <div></div>
            <div>
                LOGIN
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BTrack - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>